<!doctype html>
<html>
  <head>
    <title>Served from {{ ansible_fqdn }}.</title>
  </head>
  <body>
    <p>Running on {{ ansible_fqdn }}.
      <ul>
        <li>Infrastructure created by <a href="https://www.terraform.io/">Terraform</a>.</li>
        <li>Instance configured using <a href="https://www.ansible.com/">Ansible</a>.</li>
        <li>Orchestrated by the superior <a href="https://about.gitlab.com/">GitLab</a>.</li>
      </ul>
    </p>
  </body>
</html>
